<meta charset="utf-8">
{{ with .Title }}<title>{{ . }}</title>{{ end }}
{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}

<meta name="robots" content="all,follow">
<meta name="googlebot" content="index,follow,snippet,archive">
<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?family=Lato|Open+Sans|Roboto" rel="stylesheet">
<link rel="stylesheet" href="/css/theme.css">
<link rel="stylesheet" href="/css/site.css?{{ now.Unix }}" />
