{{define "main"}}
<!-- intro section -->
<section class="pt-4 pt-md-11">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-5 col-lg-6 order-md-2">
        <!-- Image -->
        <img
          src="/img/illustration-7.png"
          class="img-fluid mw-md-150 mw-lg-130 mb-6 mb-md-0 aos-init aos-animate"
          alt="..."
          data-aos="fade-up"
          data-aos-delay="100"
        />
      </div>
      <div
        class="col-12 col-md-7 col-lg-6 order-md-1 aos-init aos-animate"
        data-aos="fade-up"
      >
        <!-- Heading -->
        <h1 class="display-3 text-center text-md-start">
          Welcome to
          <span class="text-primary">Tag Shop</span>
          .
          <br />
          Start selling.
        </h1>

        <!-- Text -->
        <p class="lead text-center text-md-start text-muted mb-6 mb-lg-8">
          Add a shopping cart to your static website and start selling.
        </p>

        <!-- Buttons -->
        <div class="text-center text-md-start">
          <a href="/demo.html" class="btn btn-primary shadow lift me-1">
            View demo
            <i class="fe fe-arrow-right d-none d-md-inline ms-3"></i>
          </a>
          <a href="docs/index.html" class="btn btn-primary-soft lift">
            Documentation
          </a>
        </div>
      </div>
    </div>
    <!-- / .row -->
  </div>
  <!-- / .container -->
</section>

<!-- usage section-->
<section class="pt-8 pt-md-11 bg-gradient-light-white">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">

        <!-- Badge -->
        <span class="badge rounded-pill bg-success-soft mb-3">
          <span class="h6 text-uppercase">Flexibility</span>
        </span>

        <!-- Heading -->
        <h1>
          Choose how you want to use it.
        </h1>

        <!-- Text 
        <p class="fs-lg text-gray-700 mb-7 mb-md-9">
          No matter what size your team, we have a solution. From single shared spaces to entire floors, it's available.
        </p>
-->
      </div>
    </div> <!-- / .row -->
    <div class="row">
      <div class="col-12 col-md-4 aos-init aos-animate" data-aos="fade-up">

        <!-- Card -->
        <div class="card shadow-light-lg mb-6 mb-md-0 lift lift-lg">

          <!-- Image -->
          <img src="/img/free.png" alt="..." class="card-img-top">

          <!-- Shape -->
          <div class="position-relative">
            <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
              <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path></svg>                </div>
          </div>

          <!-- Body -->
          <div class="card-body position-relative">

            <!-- Badge -->
            <div class="position-relative text-end mt-n8 me-n4 mb-3">
              <span class="badge rounded-pill bg-success">
                <span class="h6 text-uppercase"> Free </span>
              </span>
            </div>

            <!-- Heading -->
            <h3>
              Free as is
            </h3>

            <!-- Text -->
            <p class="text-muted">
              Create a free account, checkout the exaple code, 
              integrate with your website and start selling to your customers
            </p>

            <!-- Link -->
            <a href="#!" class="fw-bold text-decoration-none">
              Start Free <i class="fe fe-arrow-right ms-3"></i>
            </a>

          </div>

        </div>

      </div>
      <div class="col-12 col-md-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

        <!-- Card -->
        <div class="card shadow-light-lg mb-6 mb-md-0 lift lift-lg">

          <!-- Image -->
          <img src="/img/oss.png" alt="..." class="card-img-top">

          <!-- Shape -->
          <div class="position-relative">
            <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
              <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path></svg>                </div>
          </div>

          <!-- Body -->
          <div class="card-body position-relative">

            <!-- Badge -->
            <div class="position-relative text-end mt-n8 me-n4 mb-3">
              <span class="badge rounded-pill bg-success">
                <span class="h6 text-uppercase"> OSS </span>
              </span>
            </div>

            <!-- Heading -->
            <h3>
              Self hosting
            </h3>

            <!-- Text -->
            <p class="text-muted">
              If you prefer to customize the backend to your needs, just checkout the code and take it from there.
            </p>

            <!-- Link -->
            <a href="#!" class="fw-bold text-decoration-none">
              Get the Code <i class="fe fe-arrow-right ms-3"></i>
            </a>

          </div>

        </div>

      </div>
      <div class="col-12 col-md-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">

        <!-- Card -->
        <div class="card shadow-light-lg lift lift-lg">

          <!-- Image -->
          <img src="/img/business.png" alt="..." class="card-img-top">

          <!-- Shape -->
          <div class="position-relative">
            <div class="shape shape-bottom shape-fluid-x svg-shim text-white">
              <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path></svg>                </div>
          </div>

          <!-- Body -->
          <div class="card-body position-relative">

            <!-- Badge -->
            <div class="position-relative text-end mt-n8 me-n4 mb-3">
              <span class="badge rounded-pill bg-danger">
                <span class="h6 text-uppercase"> From $5/mo</span>
              </span>
            </div>

            <!-- Heading -->
            <h3>
              Paid Support
            </h3>

            <!-- Text -->
            <p class="text-muted">
              If you need it, we can provide support to your business needs.
            </p>

            <!-- Link -->
            <a href="#!" class="fw-bold text-decoration-none">
              Compare plans <i class="fe fe-arrow-right ms-3"></i>
            </a>

          </div>

        </div>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>

<!-- faq section-->
<section class="py-8 py-md-11 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8 text-center">

        <!-- Heading -->
        <h2>
          <span class="text-primary">Everything</span> your need to start selling.
        </h2>

        <!-- Text -->
        <p class="fs-lg text-muted mb-7 mb-md-9 px-md-9">
          We make sure to include all the amenities and niceties that a growing business could possibly need.
        </p>

      </div>
    </div> <!-- / .row -->
    <div class="row justify-content-center">
      <div class="col-12 col-md-10 col-lg-8">

        <!-- Card -->
        <div class="accordion" id="featuresAccordion">
          <div class="accordion-item">

            <!-- Button -->
            <div class="accordion-button" role="button" data-bs-toggle="collapse" data-bs-target="#featuresOne" aria-expanded="true" aria-controls="featuresOne">
              <div class="me-auto">

                <!-- Title -->
                <p class="fw-bold mb-0" id="featuresOneHeading">
                  Easy integration with sitebuilders.
                </p>


              </div>

              <!-- Badge -->
              <span class="badge rounded-pill bg-success-soft ms-4">
                <span class="h6 text-uppercase">New</span>
              </span>

            </div>

            <!-- Collapse -->
            <div class="accordion-collapse collapse show" id="featuresOne" aria-labelledby="featuresOneHeading" data-bs-parent="#featuresAccordion">
              <div class="accordion-body">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt rerum minima a possimus, amet perferendis, temporibus obcaecati pariatur. Reprehenderit magnam necessitatibus vel culpa provident quas nesciunt sunt aut cupiditate fugiat! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt rerum minima a possimus, amet perferendis, temporibus obcaecati pariatur. Reprehenderit magnam necessitatibus vel culpa provident quas nesciunt sunt aut cupiditate fugiat!
                </p>
                <a href="#!" class="fw-bold text-decoration-none">
                  Check it out <i class="fe fe-arrow-right ms-3"></i>
                </a>
              </div>
            </div>

          </div>
          <div class="accordion-item">

            <!-- Button -->
            <div class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#featuresTwo" aria-expanded="false" aria-controls="featuresTwo">
              <div class="me-auto">

                <!-- Title -->
                <p class="fw-bold mb-0" id="featuresTwoHeading">
                  Snacks, drinks, coffee, and more.
                </p>

                <!-- Text -->
                <p class="fs-sm text-muted mb-0">
                  Keep your engine going with free food and drinks.
                </p>

              </div>

            </div>

            <!-- Collapse -->
            <div class="accordion-collapse collapse" id="featuresTwo" aria-labelledby="featuresTwoHeading" data-bs-parent="#featuresAccordion">
              <div class="accordion-body">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt rerum minima a possimus, amet perferendis, temporibus obcaecati pariatur. Reprehenderit magnam necessitatibus vel culpa provident quas nesciunt sunt aut cupiditate fugiat! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt rerum minima a possimus, amet perferendis, temporibus obcaecati pariatur. Reprehenderit magnam necessitatibus vel culpa provident quas nesciunt sunt aut cupiditate fugiat!
                </p>
                <a href="#!" class="fw-bold text-decoration-none">
                  Check it out <i class="fe fe-arrow-right ms-3"></i>
                </a>
              </div>
            </div>

          </div>
          <div class="accordion-item">

            <!-- Button -->
            <div class="accordion-button collapsed" role="button" data-bs-toggle="collapse" data-bs-target="#featuresThree" aria-expanded="false" aria-controls="featuresThree">
              <div class="me-auto">

                <!-- Title -->
                <p class="fw-bold mb-0" id="featuresThreeHeading">
                  On site tech support
                </p>

                <!-- Text -->
                <p class="fs-sm text-muted mb-0">
                  Connectivity, power, and IT issues solved in no time.
                </p>

              </div>

            </div>

            <!-- Collapse -->
            <div class="accordion-collapse collapse" id="featuresThree" aria-labelledby="featuresThreeHeading" data-bs-parent="#featuresAccordion">
              <div class="accordion-body">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt rerum minima a possimus, amet perferendis, temporibus obcaecati pariatur. Reprehenderit magnam necessitatibus vel culpa provident quas nesciunt sunt aut cupiditate fugiat! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt rerum minima a possimus, amet perferendis, temporibus obcaecati pariatur. Reprehenderit magnam necessitatibus vel culpa provident quas nesciunt sunt aut cupiditate fugiat!
                </p>
                <a href="#!" class="fw-bold text-decoration-none">
                  Check it out <i class="fe fe-arrow-right ms-3"></i>
                </a>
              </div>
            </div>

          </div>
        </div>

      </div>
    </div> <!-- / .row -->
  </div> <!-- / .container -->
</section>
<div class="position-relative mt-n16">
  <div class="shape shape-bottom shape-fluid-x svg-shim text-dark">
    <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 48h2880V0h-720C1442.5 52 720 0 720 0H0v48z" fill="currentColor"></path></svg>      </div>
</div>
<section class="pt-16 bg-dark"></section>




{{end}}
